<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pyshop</title>
  </head>
  <h1>Welcome to PyShop!</h1>
  <body>
    This is an imaginary e-commerce website so don't be mad if nothing happens.
    If you want to shop now then click on
    <a href="http://127.0.0.1:8000/products/">Products</a>. ATTENTION This may
    not work as this is not a fully functioning website and the images may not
    load.
  </body>
  <a href="mailto:andul.aditya@gmail.com">Email Me</a>
  <a href="http://127.0.0.1:8000/products/">PyShop's Products</a>
  <a href="https://google.com">Exit this page and go to Google</a>
  <a href="https://abcits.in">Go to official website</a>
  <style>
    body {
      white-space: pre-line;
    }
  </style>
</html>
